In [191]:
import glob
import os
import pandas as pd
import numpy as np
from datetime import date

Importing Data

In [192]:
# path = os.getcwd()
print(glob.glob('C:\\Users\\jenst\\Capstone\\pm_local\\*.csv'))

['C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_1997.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_1998.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_1999.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2000.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2001.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2002.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2003.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2004.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2005.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2006.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2007.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2008.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2009.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2010.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2011.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2012.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2013.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2014.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2015.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2016.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2017.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2018.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2019.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2020.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2021.csv', 'C:\\Users\\jenst\\Capstone\\pm_local\\daily_88101_2022.csv']

In [193]:
def dif_entries(array):
    dif_names = []
    for i in range(len(array)):
        if array[i] not in dif_names:
            dif_names.append(array[i])
    return dif_names

In [194]:
dtype_dict = {'Parameter Name': str, 'Sample Duration': str,
              'Units of Measure': str, 'Date Local': str,
              'Units of Measure': str, 'Method Name': str,
              'Arithmetic Mean': str, 'State Name': str} 

cols = ['Parameter Name', 'Units of Measure', 'Sample Duration', 'Method Name', 
        'Date Local', 'Units of Measure', 'Arithmetic Mean', 'State Name']
dfs = []
total_len = 0
for f in glob.glob('C:\\Users\\jenst\\Capstone\\pm_local\\*.csv'):
    df = pd.read_csv(f, dtype = dtype_dict, usecols = cols)
    dfs.append(df)
    total_len += len(df)
#     print(df.dtypes())
daily = pd.concat(dfs, ignore_index=True)  
print('final length = ', len(daily))

final length =  6878228

In [195]:
daily

,Parameter Name,Sample Duration,Date Local,Units of Measure,Arithmetic Mean,Method Name,State Name
0,PM2.5 - Local Conditions,24 HOUR,1997-04-28,Micrograms/cubic meter (LC),27,R & P Model 2000 PM2.5 Sampler w/WINS - GRAVIM...,Wisconsin
1,PM2.5 - Local Conditions,24 HOUR,1997-05-10,Micrograms/cubic meter (LC),8,R & P Model 2000 PM2.5 Sampler w/WINS - GRAVIM...,Wisconsin
2,PM2.5 - Local Conditions,24 HOUR,1997-05-16,Micrograms/cubic meter (LC),6,R & P Model 2000 PM2.5 Sampler w/WINS - GRAVIM...,Wisconsin
3,PM2.5 - Local Conditions,24 HOUR,1997-05-22,Micrograms/cubic meter (LC),6,R & P Model 2000 PM2.5 Sampler w/WINS - GRAVIM...,Wisconsin
4,PM2.5 - Local Conditions,24 HOUR,1997-05-28,Micrograms/cubic meter (LC),11,R & P Model 2000 PM2.5 Sampler w/WINS - GRAVIM...,Wisconsin
...,...,...,...,...,...,...,...
6878223,PM2.5 - Local Conditions,24-HR BLK AVG,2022-09-26,Micrograms/cubic meter (LC),9.4,-,Country Of Mexico
6878224,PM2.5 - Local Conditions,24-HR BLK AVG,2022-09-27,Micrograms/cubic meter (LC),5.6,-,Country Of Mexico
6878225,PM2.5 - Local Conditions,24-HR BLK AVG,2022-09-28,Micrograms/cubic meter (LC),7.4,-,Country Of Mexico
6878226,PM2.5 - Local Conditions,24-HR BLK AVG,2022-09-29,Micrograms/cubic meter (LC),7,-,Country Of Mexico
6878227,PM2.5 - Local Conditions,24-HR BLK AVG,2022-09-30,Micrograms/cubic meter (LC),7.8,-,Country Of Mexico

In [196]:
daily['Date Local']

0          1997-04-28
1          1997-05-10
2          1997-05-16
3          1997-05-22
4          1997-05-28
              ...
6878223    2022-09-26
6878224    2022-09-27
6878225    2022-09-28
6878226    2022-09-29
6878227    2022-09-30
Name: Date Local, Length: 6878228, dtype: object

In [197]:
# c = 0
# drop_indices = []
# for index, row in daily.iterrows():
#     if row['State Name'] == 'Alaska':
#         c += 1
#     else:
#         drop_indices.append(i)
# print(c)

In [198]:
daily.drop(daily[daily['State Name'] != 'Alaska'].index, inplace=True)

In [199]:
daily['Year'] = daily['Date Local'].str[:4].astype(int)

In [200]:
# year = []
# for index, row in daily.iterrows():
#     s = row['Date Local'][:4]
#     year.append(s)

In [201]:
dif_entries(list(daily['Method Name']))

['R & P Model 2025 PM2.5 Sequential w/WINS - GRAVIMETRIC',
 'R & P Model 2000 PM2.5 Sampler w/WINS - GRAVIMETRIC',
 'Met One BAM-1020 Mass Monitor w/VSCC - Beta Attenuation',
 ' - ',
 'R & P Model 2000 PM-2.5 Air Sampler w/VSCC - Gravimetric',
 'R & P Model 2025 PM-2.5 Sequential Air Sampler w/VSCC - Gravimetric',
 'Teledyne T640X at 16.67 LPM - Broadband spectroscopy']

In [202]:
# drop_cols = ['Parameter Name', 'Units of Measure', 'Sample Duration', 'Method Name', 
#         'Date Local', 'Units of Measure', 'State Name', 'Year']
# daily.drop(columns=drop_cols, inplace=True)
# daily['Year'] = year
# daily

In [203]:
# daily['Year'] = pd.to_numeric(daily['Year'])
daily['Arithmetic Mean'] = pd.to_numeric(daily['Arithmetic Mean'])

In [204]:
# daily.drop(drop_indices)

In [205]:
daily

,Parameter Name,Sample Duration,Date Local,Units of Measure,Arithmetic Mean,Method Name,State Name,Year
3499,PM2.5 - Local Conditions,24 HOUR,1999-01-01,Micrograms/cubic meter (LC),8.1,R & P Model 2025 PM2.5 Sequential w/WINS - GRA...,Alaska,1999
3500,PM2.5 - Local Conditions,24 HOUR,1999-01-02,Micrograms/cubic meter (LC),4.4,R & P Model 2025 PM2.5 Sequential w/WINS - GRA...,Alaska,1999
3501,PM2.5 - Local Conditions,24 HOUR,1999-01-03,Micrograms/cubic meter (LC),6.2,R & P Model 2025 PM2.5 Sequential w/WINS - GRA...,Alaska,1999
3502,PM2.5 - Local Conditions,24 HOUR,1999-01-04,Micrograms/cubic meter (LC),18.3,R & P Model 2025 PM2.5 Sequential w/WINS - GRA...,Alaska,1999
3503,PM2.5 - Local Conditions,24 HOUR,1999-01-06,Micrograms/cubic meter (LC),28.5,R & P Model 2025 PM2.5 Sequential w/WINS - GRA...,Alaska,1999
...,...,...,...,...,...,...,...,...
6521475,PM2.5 - Local Conditions,24-HR BLK AVG,2022-08-27,Micrograms/cubic meter (LC),1.0,-,Alaska,2022
6521476,PM2.5 - Local Conditions,24-HR BLK AVG,2022-08-28,Micrograms/cubic meter (LC),1.0,-,Alaska,2022
6521477,PM2.5 - Local Conditions,24-HR BLK AVG,2022-08-29,Micrograms/cubic meter (LC),1.5,-,Alaska,2022
6521478,PM2.5 - Local Conditions,24-HR BLK AVG,2022-08-30,Micrograms/cubic meter (LC),0.6,-,Alaska,2022
6521479,PM2.5 - Local Conditions,24-HR BLK AVG,2022-08-31,Micrograms/cubic meter (LC),0.4,-,Alaska,2022

In [213]:
# Group by 'Year' and calculate the mean for each group
averages_by_year = daily.groupby('Year')['Arithmetic Mean'].mean().reset_index()

# Display the resulting DataFrame
print(averages_by_year)

    Year  Arithmetic Mean
0   1999         6.665929
1   2000         6.382347
2   2001         6.058493
3   2002         6.265293
4   2003         6.385412
5   2004        15.284368
6   2005         7.602607
7   2006         8.070270
8   2007         7.547959
9   2008         8.109603
10  2009         7.652310
11  2010         6.566387
12  2011         5.613681
13  2012         5.673691
14  2013         5.352287
15  2014         6.410903
16  2015         6.650753
17  2016         5.882616
18  2017         5.979261
19  2018         5.968331
20  2019         8.216914
21  2020         6.381968
22  2021         6.474936
23  2022         6.693635

In [220]:
averages_by_year.drop('Year', axis=1, inplace=True)

In [217]:
daily

         Arithmetic Mean
3499                 8.1
3500                 4.4
3501                 6.2
3502                18.3
3503                28.5
...                  ...
6521475              1.0
6521476              1.0
6521477              1.5
6521478              0.6
6521479              0.4

[64629 rows x 1 columns]

pmxx is in inhaleable particulate matter of xx micrometers or less as defined by: 
https://www.epa.gov/pm-pollution/particulate-matter-pm-basics

In [222]:
file_name = 'daily_means.csv'
averages_by_year.to_csv(file_name, sep='\t')

In [207]:
# count = 0.0
# total = 0.0
# avgs = []
# new_year = 1997
# for index, row in daily.iterrows():
#     if row['Year'] != new_year:
#         new_year = row['Year']
#         avg = total/count
#         avgs.append(avg)
#         count = 0.0
#         total = 0.0
#     else:
#         count += 1
#         total += row['Arithmetic Mean']
# len(avgs)

In [208]:
# def yearly_avg(col):
#     new_year='2000'
#     count = 0.0
#     total = 0.0
#     avgs = []
#     for i in range(rows):
#         if daily['Year'][i] != new_year:
#             new_year = daily['Year'][i]
#             avg = total/count
#             avgs.append(avg)
#             count = 0.0
#             total = 0.0
#         else:
#             count += 1
#             total += col[i]
#     return avgs

In [209]:
# arithmetic_mean = yearly_avg(daily['Arithmetic Mean'])

In [210]:
# value = daily['AQI'].mean()
# daily['AQI'] = daily['AQI'].fillna(value)
# aqi = yearly_avg(daily['AQI'])
# aqi

In [211]:
# df_avgs['aqi'] = pd.DataFrame(aqi)
# df_avgs['arithmetic_mean'] = arithmetic_mean
# df_avgs.to_csv(file_name, sep='\t')

In [212]:
# def drop_rows_except(df, col, exception):
#     new_df = df.drop(df.index[df[col] != exception])
#     return new_df